.pizza-pie-app {
  .mat-card {
    padding: 0;
    .mat-card-title{
      padding: 0.5em 1em;
      margin: 0;
    }
    .mat-card-content {
      padding: 2em;
    }
  }
}

@mixin card-theme-alteration($theme, $palette-name) {
  $palette: map-get($theme, $palette-name);
}

@mixin card-alterations($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  
  $title-background-color: mat-color($primary, default);
  $text-color: mat-color($primary, 100);
  $label-color: mat-color($accent, 800);

  .pizza-pie-app {
    @include card-theme-alteration($theme, 'primary');
    @include card-theme-alteration($theme, 'accent');
    
    .mat-card {
      .mat-card-title {
        background-color:  $title-background-color;
        color: $text-color;
      }
      .cart-container{
        .cart-item{
          label{
            color: $label-color;
          }
          &:first-child{
            input{
              color: $title-background-color;
            }
          }
        }
      }
    }
  }
}
